/* styles.css */

.gradient-background {
    /* Gradient from grey (#808080) to black (#000000) */
    background: linear-gradient(to right, #808080, #000000);
    /* Additional styles for the gradient background */
    /* You can add more styles here as needed */
    width: 100%;
    height: 100vh; /* Adjust the height as needed */
    animation: moveGradient 5s linear infinite; /* Adjust the duration and timing function as needed */
}

@keyframes moveGradient {
    0% {
        background-position: 100% 0;
    }
    100% {
        background-position: 0 0;
    }
}
