<!DOCTYPE html>
<html>
<head>
<style> 
#example1 {
  background-image: url(pexels-anand-dandekar-1532771.jpg), url(pexels-craig-adderley-1563356.jpg);
  background-position: right bottom, left top;
  background-repeat: no-repeat, repeat;
  padding: 15px;
}
</style>
</head>
<body>

<div id="example1">
</div>

</body>
</html>


